<h1>liste membre</h1>
<% if @membres.blank? %>
<p>Il n'y a pas de membres actuellement dans le système.</p>
<% else %>

<ul id = "membres">
	<% @membres.each do |c| %>
	<li><%= link_to c.nom, {:action => 'show', :id => c.id} %>
   <%= link_to 'Edit', {:action => 'edit',:id => c.id} %>
   <%= link_to 'delete', {:action => 'delete',:id => c.id},:confirm => "Are you sure you want to delete" %>
</li>
    <% end %>	
 
<% end %>
</ul>	

 <%= link_to 'ajouter membre', {:action => 'new'} %>