<h1>liste trajets</h1>
<% if @trajets.blank? %>
<p>Il n'y a pas de trajet actuellement dans le système.</p>
<% else %>

<ul id = "trajets">
	<% @trajets.each do |c| %>
	<li><%= link_to c.id_ville_source , {:action => 'show', :id => c.id} %></li>
   <%= link_to 'Edit', {:action => 'edit',:id => c.id} %>
   <%= link_to 'delete', {:action => 'delete',:id => c.id},:confirm => "Are you sure you want to delete" %>

    <% end %>	
 
<% end %>
</ul>	
  <%= link_to 'ajouter trajet', {:action => 'new'} %>